.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryColor;
  color: white;
  margin: 0 10px 0 0;
  width: max-content;
  padding: 0 20px;
  height: 25px;
  border-radius: 10px;
}

