@import "../../Utils/styles/color.scss";
@import "../../Utils/styles/mixin.scss";

.wrapperHeader {
  grid-area: header;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $primaryColor;
    font-size: 2vw;
    text-transform: none;
    text-decoration: none;
    padding: 0 0 0 3vw;
  }

  .logo {
    width: 145px;
    height: auto;
    @include tablette {
      width: 210px;
    }
  }
}
