@import "./color.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: $primaryColor;
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.main {
  padding-bottom: 200px;
  margin: 0 100px;
}
