@import "./color.scss";
@import "./variables.scss";

* {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: $primaryColor;
}

body {
  margin: 0;
}

#root {
  margin: 0;
  display: grid;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";

  grid-template-columns: var(--wrapperMargin) var(--wrapper) var(--wrapperMargin);
  grid-template-rows: var(--headerHeight) auto var(--footerHeight);
}

.main {
  grid-area: main;
}
