@import "../../Utils/styles/color.scss";

.wrapperHeader {
  margin: 40px 100px 20px 100px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $primaryColor;
    font-size: 24px;
    padding-left: 30px;
  }

  .active_link {
    text-decoration: underline;
  }

  .unselected {
    text-transform: none;
    text-decoration: none;
  }

  .logo {
    width: 145px;
    height: auto;
  }
}
