@import "../../../Utils/styles/color.scss";

.container_section2 {
  height: 250px;
  width: 100%;
  display: flex;
  column-gap: 60px;

  .s2_description {
    width: 50%;
    font-size: 18px;

    .container_title_chevron_desc {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      background-color: $primaryColor;
      color: white;
      height: 52px;
      border-radius: 10px;

      .description_title {
        color: white;
      }
    }
    .description_text {
      margin-top: -20px;
      padding: 40px 20px;
      background-color: #f7f7f7;
      border-radius: 10px;
    }
  }

  .s2_equipments {
    width: 50%;
    font-size: 18px;

    .container_title_chevron_equi {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      background-color: $primaryColor;
      color: white;
      height: 52px;
      border-radius: 10px;

      .equipments_title {
        color: white;
      }
    }

    .equipments_container {
      margin-top: -20px;
      padding: 40px 20px;
      background-color: #f7f7f7;
      border-radius: 10px;

      .texte {
        line-height: 14px;
      }
    }
  }
}

.chevon_up,
.chevron_down,
.chevron_left,
.chevron_right {
  color: white;
}
